
@{
    ViewBag.Title = "Bütçe Yönetimi";
}

<h2>Bütçe Yönetimi</h2>

<ul>
    <li>@Html.ActionLink("Hesaplar", "Index", "BudgetAccount")</li>
    <li>@Html.ActionLink("Kategoriler", "Index", "Categories")</li>
    <li>@Html.ActionLink("Tüm Bütçeler", "Index", "Budget")</li>
</ul>
