@model ExpenseTracker.WebUI.Models.BudgetRelated.BudgetListModel
@{
    ViewBag.Title = "Aktif Bütçe Seçimi";
}

<h2>Aktif Bütçe Seçim Ekranı</h2>

<h3>@Html.ActionLink("Tüm Bütçeler", "Index", "Budget")</h3>

<table class="table">
    <tr>
        <th>
            Bütçe Adı
        </th>
        <th>
            Para Birimi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BudgetList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyDisplayName)
            </td>
            <td>
                @if (ViewBag.ActiveBudgetId != item.Id)
                {
                    @Html.ActionLink("Aktifleştir", "SetActive", new { budgetId = item.Id });
                }
                else
                {
                    <text>Aktif</text>
                }
            </td>
        </tr>
    }

</table>
