@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@Html.Partial("_TopMenuBar")

<div class="container" id="main-body">
    @RenderBody()
</div>

@section basescripts{
    @RenderSection("scripts", required: false)
    @RenderSection("partialscripts", required: false)

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
}
