@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_TopMenuBar")
}
else
{
    @Html.Partial("_UnauthorizedTopMenuBar")
}

<div class="container" id="main-body">
    @RenderBody()
</div>

@section basescripts{
    @RenderSection("scripts", required: false)
}
