@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Harcama";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">
                    <a class="btn btn-primary btn-block text-uppercase" href="@Url.Action("Login", "Account")">Giriş &raquo;</a>
                </h2>
                <p class="text-center text-white mb-0 px-4">
                    Giriş yaparak harcamalarınızı bir güzel takip edebilirsiniz
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">
                    <a class="btn btn-primary btn-block text-uppercase" href="@Url.Action("Register", "Account")">Kayıt &raquo;</a>
                </h2>
                <p class="text-center text-white mb-0 px-4">
                    Önce kayıt yaparsanız; giriş yaparak harcamalarınızı bir güzel takip edebilirsiniz
                </p>
            </div>
        </div>
    </div>
}
