@{
    ViewBag.Title = "Harcama";
}

<div class="jumbotron">
    <h1>Harcama Takibi</h1>
</div>

@if (!User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col-md-4">
        <h2>Giriş Yapın</h2>
        <p>
            Giriş yaparak harcamalarınızı bir güzel takip edebilirsiniz
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Giriş &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kayıt Olun</h2>
        <p>Önce kayıt yaparsanız; giriş yaparak harcamalarınızı bir güzel takip edebilirsiniz</p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Kayıt Ol &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bana Ulaşın</h2>
        <p>Web veya blog sitem aracılığıyla bana kolayca ulaşabilirsiniz. Adımı biliyorsanız, bunlar dışında birçok yerden de bana ulaşabilirsiniz.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Home")">Bana Ulaşın (?) &raquo;</a></p>
    </div>
</div>
}
