<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ExpenseTrackerContext" connectionString="Data Source=localhost\SQL2017; Initial Catalog=ExpenseTracker; Integrated Security=True; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>